html, body, #root {
  height: 100%;
  margin: 0;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1d2330;
}
.content {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding: 120px;
  width: 900px;
  border-width: 1px;
  border-color: #293143;
  border-style: solid;
  border-radius: 15px;
  background-color: #293143;
  color: white;
}
.values {
  background-color: #1d2330;
  height: 60px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.amount {
  font-size: 30px;
  width: 150px;
  min-height: 41.3px;
  padding-left: 20px;
  border-style: none;
  background-color: #1d2330;
  color: white;
}
.currency {
  min-height: 43.3px;
  font-size: 30px;
  margin-left: 4px;
  padding-right: 20px;
  background-color: #1d2330;
  border-style: none;
  color: white;
}
.equal {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}