html, body, #root {
  height: 100%;
  margin: 0;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  padding: 120px;
  width: 900px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}
.amount {
  font-size: 30px;
  width: 200px;
}
.currency {
  font-size: 30px;
}
.equal {
  font-size: 30px;
}